<div class="user-details">
	<h1> Startup teams </h1>
</div>
<div class="user-projects">
	<div class="images-right">
		<img alt="mountains" src="{{ "/assets/img/1.png" | prepend: site.baseurl }}" />
	</div>
	<div class="contents" style="margin-top:-5%;">
		<h3> 단송코리아 </h3>
		<ul>
		  <li>대표 : 김동영</li>
		</ul>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<a class="project-link" href="https://drive.google.com/file/d/1PJR2Tw5vM6uGaSu5csWOVwUYAUWm0eRf/view?usp=sharing">IR meterial</a>
	</div>
</div>
<div class="user-projects">
	<div class="images-left">
		<img alt="mountains" src="{{ "/assets/img/qlc.png" | prepend: site.baseurl }}" />
	</div>
	<div class="contents-right">
		<h3> 큐엘씨 </h3>
		<ul>
		  <li>대표 : 이준서</li>
		</ul>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<a class="project-link" href="#">IR meterial</a>
	</div>
</div>
<div class="user-projects">
	<div class="images-right">
		<img alt="mountains" src="{{ "/assets/img/3.png" | prepend: site.baseurl }}" />
	</div>
	<div class="contents" style="margin-top:-5%;">
		<h3> 위밋 </h3>
		<ul>
		  <li>대표 : 강귀선</li>
		</ul>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<a class="project-link" href="#">IR meterial</a>
	</div>
</div>
<div class="user-projects">
	<div class="images-left">
		<img alt="mountains" src="{{ "/assets/img/4.png" | prepend: site.baseurl }}" />
	</div>
	<div class="contents-right">
		<h3> Hugraph </h3>
		<ul>
		  <li>대표 : 양윤석</li>
		</ul>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<a class="project-link" href="#">IR meterial</a>
	</div>
</div>
<div class="user-projects">
	<div class="images-right">
		<img alt="mountains" src="{{ "/assets/img/5.png" | prepend: site.baseurl }}" />
	</div>
	<div class="contents" style="margin-top:-5%;">
		<h3> 슈퍼무브 </h3>
		<ul>
		  <li>대표 : 조용성</li>
		</ul>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<a class="project-link" href="#">IR meterial</a>
	</div>
</div>
