<div class="user-details">
	<h1> Startup teams </h1>
</div>
<div class="user-projects">
	<div class="images-right">
		<img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
	</div>
	<div class="contents">
		<h3> 단송코리아 </h3>
		<ul>
		  <li> Featured Skills</li>
		</ul>
		<a class="project-link" href="#">IR meterial</a>
	</div>
</div>
<div class="user-projects">
	<div class="images-left">
		<img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
	</div>
	<div class="contents-right">
		<h3> 큐엘씨 </h3>
		<ul>
		  <li> Featured Skills</li>
		</ul>
		<a class="project-link" href="#">IR meterial</a>
	</div>
</div>
<div class="user-projects">
	<div class="images-right">
		<img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
	</div>
	<div class="contents">
		<h3> 위밋 </h3>
		<ul>
		  <li> Featured Skills</li>
		</ul>
		<a class="project-link" href="#">IR meterial</a>
	</div>
</div>
<div class="user-projects">
	<div class="images-left">
		<img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
	</div>
	<div class="contents-right">
		<h3> Hugraph </h3>
		<ul>
		  <li> Featured Skills</li>
		</ul>
		<a class="project-link" href="#">IR meterial</a>
	</div>
</div>
<div class="user-projects">
	<div class="images-right">
		<img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
	</div>
	<div class="contents">
		<h3> 슈퍼무브 </h3>
		<ul>
		  <li> Featured Skills</li>
		</ul>
		<a class="project-link" href="#">IR meterial</a>
	</div>
</div>
